.notification {
    position: fixed;
    z-index: 2000000;
    padding: 10px 20px;
    box-shadow: 1px 2px 2px #ccc, -1px -1px 2px #ddd;
    background: white;
    top: -1px;
    animation: fadeIn 0.5s;
    animation-fill-mode: forwards;
    left: 50%;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
      0 1px 2px rgba(0, 0, 0, 0.24);
      transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
      display: flex;
}

.notification__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

@keyframes fadeIn {
    0% {
        transform: translate(-50%, -100%);
        opacity: 0.75;
    }
    100% {
        transform: translate(-50%, 0%);
        opacity: 1;
    }
}

.notification__title{
    font-size: 0.9em;
    margin-bottom: 5px;
}

.notification > div {
    margin-top: 2.5px;
    margin-bottom: 2.5px;
}

.notification__option {
    font-size: 0.85em;
    text-align: right;
}

.notification__option > a {
    margin: 0px 5px;
    cursor: pointer;
}

.notification__option>a:first-child {
    margin-left: 0;
}

.notification__option>a:last-child {
    margin-right: 0;
}

.notification__option__cancel {
    color: crimson;
}

.notification__option__ok {
    color: green
}
