.contact-info__main__images {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row;
}

.contact-info__main__images>div {
    padding: 2px;
    flex-basis: 33.33%;
}

.contact-info__main__images>div>div{
    height: 100px;
    background-position: 50% 50%;
    background-size: cover
}
