.contact-info__main__files li {
    grid-column-gap: 2.5px;
}

.contact-info__main__files i {
    background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/ya/r/XHgnF9Vz1H8.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: -17px -79px;
    width: 20px;
    height: 20px;
}