.contact-info__main__files li {
    grid-column-gap: 2.5px;
}

.contact-info__main__files i {
    background-image: url(../../../assets/images/XHgnF9Vz1H8.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: -100px -61px;
    width: 20px;
    height: 100%;
    display: block;
}

.contact-info__main__files a {
    display: block;
    height: 100%;
}