main {
    display: grid;
    grid-template-columns: 300px 3fr 300px;
    height: calc(100vh - 45px);
    position: relative;
}

.main-loading {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}