.recent-contact {
    display: grid;
    grid-template-columns: 50px 1fr 30px;
    grid-column-gap: 10px;
    align-items: center;
    padding: 7.5px 12.5px;
    cursor: pointer;
    transition: background 0.1s;
}

.recent-contact--active {
    background: #f1f1f1;
}

.recent-contact:hover {
    background: #f1f1f1;
}

.recent-contact__left {
    height: 50px;
}

.recent-contact__left img {
    height: 100%;
    width: auto;
    border-radius: 50%;
}

.recent-contact__mid {
    width: 175px;
}

.recent-contact__mid__title {
    margin-bottom: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.recent-contact__mid__content {
    font-size: 0.75em;
    margin-top: 5px;
    color: #777;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.recent-contact__right__time {
    font-size: 0.75em;
    color: #777;
}

.recent-contact__right__seen {
    text-align: center;
}

.recent-contact__right__seen > img {
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.recent-contact--new .recent-contact__mid__content,
.recent-contact--new .recent-contact__right,
.recent-contact--new .recent-contact__mid__title {
    font-weight: bold;
    color: black;
}