.contact-list__all__contact {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 0.85em;
    transition: background 0.15s;
    z-index: 1000;
}

.contact-list__all__contact div {
    margin-left: 7.5px;
    margin-right: 7.5px;
}

.contact-list__all__contact:hover {
    background-color: #f1f1f1;
}

.contact-list__all__contact__avatar {
    width: 35px;
    height: 35px;
}

.contact-list__all__contact__avatar>img {
    height: 35px;
    width: 35px;
    object-fit: cover;
    border-radius:50%;
}

.contact-list__all__contact__fullname {
    flex-grow: 1;
}

.contact-list__all__contact {
    padding: 7.5px 12.5px;
}