.contact-info__header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-column-gap: 10px;
    padding: 10px 15px;
}

.contact-info__header__left img {
    height: 50px;
    width: 50px;
    border-radius: 100%;
}

.contact-info__header__mid__title {
    font-size: 0.9em;
    margin-bottom: 5px;
    width: 130px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.contact-info__header__mid__status {
    font-size: 0.75rem;
    margin-top: 5px;
    color: #777;
}

.contact-info__header__right {
    display: flex;
}

.contact-info__header__right>div {
    margin-left: 2.5px;
    margin-right: 2.5px;
}

.contact-info__header__right svg {
    display: inline-block;
    width: 30px;
    cursor: pointer;
}

.color-theme-modal {

}

.color-theme-modal>div {
    margin-top: 10px;
    margin-bottom: 10px;
}

.color-theme-modal > div:first-child {
    margin-top: 0;
    margin-bottom: 20px;
}

.color-theme-modal>div:last-child{
    margin-bottom: 0;
}