header {
    background-color: rgb(42,83,96);
    height: 45px;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    justify-content: space-between;
    color: white;
    border-bottom: 1px solid #dfdfdf;
}

.header__left {
    font-family: 'Courgette';
    font-size: 1.75rem;
    line-height: 45px;
    cursor: pointer;
}

.header__right {
    display: flex;
    align-items: center;
}

.header__right>div {
    margin-left: 2px;
    margin-right: 2px;
}

.header__current-avatar {
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__current-avatar>img {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    object-fit: cover;
}

.header__current-fullname {
    font-weight: 500;
    font-size: 0.85rem;
    padding-right: 10px;
}

.header__navigation-button {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-weight: 500;
    font-size: 0.85rem;
    border-left: 1px solid #efefef;
    padding-left: 10px;
}