.chatbox__message-container::-webkit-scrollbar {
    width: 5px;
}

.chatbox__message-container:hover::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 30px;
}

.loader {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fetching-more {
    display: flex;
    justify-content: center;
}

.no-background-message {
    background: none;
}

.no-padding-message {
    padding: 0;
}